body {background-color: #000;}
/*background*/
.container{
	width: 1000px;
	height: 600px;
	background: url("../pics/BasciInfomation.png");
	margin: 5px auto;
	color: #fff;
	position: relative;
}
/*people infomation*/
.info {
	width: 400px;
	border: 2px solid #fff;
	position: absolute;
	top: 150px;
	right: 30px;

	font-size: 25px;
	padding: 10px; 
}

/*p*/
.info dt p{
	padding-top: 15px;
	text-indent: 45px;
}

/*more*/
.more {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/*call*/
.call {
	display: block;
	position: absolute;
	bottom: -20px;
}
