body {background-color: #000;}
/*background*/
.container{
	width: 1000px;
	height: 600px;
	background: url("../pics/killBg.png");
	margin: 5px auto;
	color: #fff;
	position: relative;
}

.container h3{
	position: absolute;
	top: 350px;
	left: 50%;
	margin-left: -50px;
	color: #000;
	font-size: 30px;
}

/*kills*/
.kills {
	width: 770px;
	height: 120px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -385px;
}

.kills li{
	width: 170px;
	height: 100%;
	line-height: 120px;
	float: left;
	background: #406C9B;
	margin-right: 30px;
	font-size: 25px;
	text-align: center;
}

.kills li:last-child{
	margin: 0;
}

.kills li:hover {
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}