body {background-color: #000;}
a {text-decoration: underline;color: blue;}
/*background*/
.container{
	width: 1000px;
	height: 600px;
	background: url("../pics/useFul.png") 250px center no-repeat;
	margin: 5px auto;
	color: #fff;
	position: relative;
}

.list1 {
	width: 700px;
	height: 150px;
	position: absolute;
	top: 35px;
	left: -70px;
}

.list1 li{
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 60px;
	float: left;
	margin-right: 70px;
	background: transparent;
	border: 1px solid #fff;
	cursor:pointer;
}

.list2 {
	width: 520px;
	height: 300px;

	position: absolute;
	top: 185px;
	left: -70px;

	overflow: hidden;
}

.list2 div {
	box-sizing: border-box;
	width: 520px;
	height: 300px;
	border: 2px solid #fff;
}

.me {
	padding: 30px 35px 0 35px;
	font-size: 20px;
	line-height: 30px;

}
.product {
	padding: 30px 35px 0 35px;
	font-size: 20px;
	line-height: 30px;
	text-indent: 35px;
}
.idea {
	padding: 30px 35px 0 35px;
	font-size: 20px;
	line-height: 30px;
	text-indent: 35px;
}

.active {
	color: blue;
}

.more {
	position: absolute;
	bottom: 10px;
	left: -70px;
}